/out/production/Projects/.idea/.gitignore
/out/production/Projects/exercicios/fundamentos/areaCircunferencia.class
/out/production/Projects/exercicios/fundamentos/calculadora.class
/out/production/Projects/exercicios/fundamentos/console.class
/out/production/Projects/exercicios/fundamentos/conversao.class
/out/production/Projects/exercicios/fundamentos/conversaoNumeroString.class
/out/production/Projects/exercicios/fundamentos/conversaoStringNumero.class
/out/production/Projects/exercicios/fundamentos/conversaoTipoPrimitivo.class
/out/production/Projects/exercicios/fundamentos/imports.class
/out/production/Projects/exercicios/fundamentos/inferencia.class
/out/production/Projects/.idea/misc.xml
/out/production/Projects/.idea/modules.xml
/out/production/Projects/exercicios/fundamentos/notacaoPonto.class
/out/production/Projects/exercicios/fundamentos/primeiroPrograma.class
/out/production/Projects/exercicios/fundamentos/primitivoObjeto.class
/out/production/Projects/.idea/Projects.iml
/out/production/Projects/README.md
/out/production/Projects/exercicios/fundamentos/strings.class
/out/production/Projects/exercicios/fundamentos/temperatura.class
/out/production/Projects/exercicios/fundamentos/tiposPrimitivos.class
/out/production/Projects/exercicios/fundamentos/tipoString.class
/out/production/Projects/.idea/vcs.xml
/out/production/Projects/exercicios/fundamentos/wrappers.class
